@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #d3d3d3;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f3f3f3;
    --foreground: #000000;
  }
}

html,
body,
#__next {
  background: var(--background);
  min-height: 100%;
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
